{% extends "./base.html.twig" %}

{% block body %}
    <div class="sm:w-2/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
            {{ book.title }}
        </h1>


        <img
            src="{{ book.imagePath }}"
            class="rounded-xl w-full shadow-xl"
            alt="Icon"
        />

        <p class="text-xl py-6">
            {{ book.description }}
        </p>

          <p class="text-xl py-6">
            {{ book.releaseYear }}
        </p>

        <a 
            href="/books/edit/{{ book.id }}"
            class="bg-teal-500 font-bold py-2 px-4 rounded transition-all hover:bg-green-300">
            Edit Book 
        </a>

        <a 
            href="/books/delete/{{ book.id }}"
            class="bg-red-500 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-300">
            Delete Book
        </a>
    </div>
{% endblock %}